[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/nelstrom/gundo.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/vim-rmarkdown"]
	path = bundle/vim-rmarkdown
	url = https://github.com/vim-pandoc/vim-rmarkdown.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
